@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --black: #000000;
    --gray: #333333;
    --red: #c82113;
    --darkred: #94180e;
    --lightblue: #1085df;
    --blue: #0e5a94;
}
body h1 nav {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;

}
.background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    display: block;
}
section {
    position: relative;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: auto;
    z-index: 2;
}
.logo img {
    width: 100%;
    display: block;
}